record(stringout, "GBL-TI-$(DEVICE):getEventName")
{
	field(VAL, 	"$(NAME)")
	field(PINI,	"YES")
}
record(longout, "GBL-TI-$(DEVICE):setEvent")
{
	field(DTYP, "evr")
	field(OUT, 	"@$(DEVICE):setEvent map=$(MAP)")
	field(VAL,	"$(EVENT)")
	field(PINI,	"YES")
}
